@model AdminWebBenhVien.EfModels.SlideShow

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>SlideShow</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsNewtab)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsNewtab)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkEvent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkEvent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsLink)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsLink)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkNgonNguNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkNgonNguNavigation.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
