@model AdminWebBenhVien.EfModels.HoiDapYkhoa

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>HoiDapYkhoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoiDungCauHoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoiDungCauHoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoTenNguoiHoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoTenNguoiHoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GioiTinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoiDungTraLoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoiDungTraLoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayGuiCauHoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayGuiCauHoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayTraLoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayTraLoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NguoiTraLoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NguoiTraLoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsShow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsShow)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DaTraLoi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DaTraLoi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkChuyenKhoaNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkChuyenKhoaNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkNamSinhNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkNamSinhNavigation.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkUserTraLoiNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkUserTraLoiNavigation.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
