@model AdminWebBenhVien.EfModels.LienHeKhachHang

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>LienHeKhachHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoVaTen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoVaTen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DienThoaiNha)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DienThoaiNha)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DienThoaiDiDong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DienThoaiDiDong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayGui)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayGui)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DaXem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DaXem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayXem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayXem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FkNguoiXemNavigation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FkNguoiXemNavigation.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
