@using AdminWebBenhVien.Controllers
@using AdminWebBenhVien.Models

<div id="wrapper">
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Danh sách sự kiện<span style="color:orange"></span></h1>
            </div>
        </div>
        <br />
        <p>
            <a asp-action="Create"><button class="k-primary">Thêm</button></a>
        </p>
        <div class="row">
            <div class="col-lg-12">
                <kendo-grid name="gridHoatDong" height="550" resizable="true">
                    <datasource type="DataSourceTagHelperType.Ajax" server-operation="false" page-size="20">
                        <transport>
                            <read url="@Url.Action(nameof(EventsController.Event_Read))" type="get" />
                        </transport>
                        <schema>
                            <model id="@nameof(SuKienIndexViewModel.Id)">
                                <fields>
                                    <field name="@nameof(SuKienIndexViewModel.Id)" />
                                    <field name="@nameof(SuKienIndexViewModel.TieuDe)" />
                                    <field name="@nameof(SuKienIndexViewModel.GioiThieu)" />
                                    <field name="@nameof(SuKienIndexViewModel.Link)" />
                                    <field name="@nameof(SuKienIndexViewModel.NgonNguId)" />
                                    <field name="@nameof(SuKienIndexViewModel.NgonNgu)" />
                                    <field name="@nameof(SuKienIndexViewModel.NgayTao)" type="date" />
                                    <field name="@nameof(SuKienIndexViewModel.NguoiTaoId)" />
                                    <field name="@nameof(SuKienIndexViewModel.NguoiTao)" />
                                </fields>
                            </model>
                        </schema>
                    </datasource>
                    <groupable enabled="true" />
                    <sortable enabled="true" />
                    <filterable enabled="true" />
                    <scrollable enabled="true" />
                    <pageable button-count="5" refresh="true" page-sizes="new int[] { 10, 20, 30, 40, 50, 100 }">
                    </pageable>
                    <filterable enabled="true" />
                    <columns>
                        <column title="Thao tác" width="100" html-attributes='new Dictionary<string, object>{ ["class"] = "bv-column-align-center" }'>
                            <commands>
                                <column-command text="Sửa" name="btnCapNhat1" class-name="k-primary" click="btnCapNhat_Click"></column-command>
                            </commands>
                        </column>
                        <column field="@nameof(SuKienIndexViewModel.Id)" title="ID" width="100" html-attributes='new Dictionary<string, object>{ ["class"] = "bv-column-align-center" }' />
                        <column field="@nameof(SuKienIndexViewModel.TieuDe)" title="Tiêu đề" width="300" />
                        <column field="@nameof(SuKienIndexViewModel.GioiThieu)" title="Giới thiệu" width="300" html-attributes='new Dictionary<string, object>{ ["class"] = "bv-column-ellipsis" }' />                       
                        <column field="@nameof(SuKienIndexViewModel.NgonNgu)" title="Ngôn ngữ" width="100" />
                        <column field="@nameof(SuKienIndexViewModel.NgayTao)" title="Ngày tạo" width="150" format="{0:dd/MM/yy HH:mm:ss}" html-attributes='new Dictionary<string, object>{ ["class"] = "bv-column-align-center" }' />
                        <column field="@nameof(SuKienIndexViewModel.NguoiTao)" title="Người tạo" width="150" />
                        <column field="@nameof(SuKienIndexViewModel.Link)" title="Đường link" width="300" />
                        <column title="Thao tác" width="100" html-attributes='new Dictionary<string, object>{ ["class"] = "bv-column-align-center" }'>
                            <commands>
                                <column-command text="Sửa" name="btnCapNhat2" class-name="k-primary" click="btnCapNhat_Click"></column-command>
                            </commands>
                        </column>
                    </columns>
                </kendo-grid>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        var urlCapNhat = "@Url.Action(nameof(EventsController.Edit), new { id = Constants.PARAM_EVENT_ID })";
        var urlXoa = "@Url.Action(nameof(EventsController.Delete), new { id = Constants.PARAM_XOA_EVENT_ID })";

        function btnCapNhat_Click(e) {

            e.preventDefault();

            var kendoGrid = $("#gridHoatDong").data("kendoGrid");
            var tr = $(e.currentTarget).closest("tr");
            var data = kendoGrid.dataItem(tr);

            var url = urlCapNhat.replace("@Constants.PARAM_EVENT_ID", data.id);
            window.open(url, "_blank");
        };
         function btnXoa_Click(e) {
            e.preventDefault();

            var kendoGrid = $("#gridHoatDong").data("kendoGrid");
            var tr = $(e.currentTarget).closest("tr");
            var data = kendoGrid.dataItem(tr);

             var url = urlXoa.replace("@Constants.PARAM_XOA_EVENT_ID", data.id);
            window.open(url, "_blank");
        };
    </script>
}
